<% include ./partials/header %>

<div class="PostContainer">
  <h1 class="hometitle"><%=title%></h1>
  <p class="author">by <%=author%></p>
  <p class="Content"><%=content%></p>
</div>




<% include ./partials/footer %>